# Title of the Notebook
- Date: 
- Purpose:

## Notebook Setup
- Business question: 
- Expected outcomes:
- Assumptions or constraints:

## Notebook environment setup

In [1]:
import os
import sys
from datetime import datetime

def set_working_directory(path: str) -> None:
    """
    Set the working directory and add it to sys.path for module imports.

    Args:
        path (str): The path to set as the working directory.

    Raises:
        FileNotFoundError: If the specified path does not exist.
    """
    if not os.path.isdir(path):
        raise FileNotFoundError(f"Directory '{path}' does not exist.")
    os.chdir(path)
    if path not in sys.path:
        sys.path.insert(0, path)

# Example usage:
set_working_directory("C:\\Users\\izzaz\\Documents\\2 Areas\\GitHub\\ai-tools")

src_path = os.path.join(os.getcwd(), "src")
if src_path not in sys.path:
    sys.path.insert(0, src_path)

### Visualization params and styling

In [2]:
import matplotlib.pyplot as plt
plt.style.use(['seaborn-v0_8-notebook', 'seaborn-v0_8-white'])

## OLS Data
### Get Data (if needed)

In [3]:
from src.core.ga4 import OLS
ols = OLS()
df = ols.get_ols_dataframe("2024-01-01", "yesterday")
try:
    df.to_csv("data/raw/ols.csv", index=True)
except Exception as e:
    print(f"Error saving CSV: {e}")

### Load Data

In [5]:
import pandas as pd
# If re-accessing this notebook, read from CSV instead of reprocessing
# df = pd.read_csv("data/raw/ols.csv", index_col=0, parse_dates=True)

### Reshape data to weekly

In [6]:
def process_ols_data(df: pd.DataFrame) -> pd.DataFrame:
    """
    Process the OLS data for weekly aggregation.
    """
    return (df
    .reset_index()
    .assign(date=pd.to_datetime(df.index, format="%Y%m%d"))
    .set_index("date")
    .resample("W-SUN")
    .sum()
    .assign(week=lambda x: x.index.isocalendar().week,
            year=lambda x: x.index.isocalendar().year)
 )

processed_df = process_ols_data(df)
processed_df.tail(10)

,traffic,view_item,type_addr,add_contact,add_addr,add_date,checkout,purchase,week,year
date,,,,,,,,,,
2025-03-09,140929,6260,1816,600,1174,641,507,385,10,2025
2025-03-16,131538,5560,1555,240,957,531,501,366,11,2025
2025-03-23,106207,5252,1337,602,783,463,419,319,12,2025
2025-03-30,133238,5131,1332,909,764,480,506,350,13,2025
2025-04-06,176808,6573,1515,884,736,469,394,300,14,2025
2025-04-13,213996,6035,1456,989,817,471,483,355,15,2025
2025-04-20,151879,5269,1388,1015,856,546,507,340,16,2025
2025-04-27,194792,6700,1688,1120,950,584,552,416,17,2025
2025-05-04,202975,6866,1639,1191,1010,653,576,420,18,2025
2025-05-11,87332,3155,737,478,417,309,280,219,19,2025

### Data Exploration

Reshape data to json

In [7]:
json_data = processed_df.reset_index().to_dict(orient="records")

Initial EDA

In [8]:
from src.core.openai_client import OpenAIClient

client = OpenAIClient()
prompt = f"""
        You are a data analyst. I will provide you with a JSON object containing weekly data.
        Your task is to analyze the data and provide insights, focusing on the last week in the dataset.

        Analysis steps:
        - Provide comparisons with previous weeks.
        - Provide comparisons with previous year.
        - Highlight key trends, ascending or descending.
        - Perform funnel and conversion rate analysis.


        The dataset contains the following fields:
        - date: The date of the week (YYYY-MM-DD format)
        - week: The week number of the year
        - year: The year of the week
        - traffic: Total traffic in users for the week
        - view_item: Total users who started the conversion funnel process
        - type_addr: Total users who typed into the address bar
        - add_contact: Total users who added their contact, also known as "leads drop"
        - add_addr: Total users who are within our service coverage area and able to add their address
        - add_date: Total users who added their preferred service installation date
        - checkout: Total users who began the checkout process
        - purchase: Total users who completed the sign up process

        Context: we are a telecommunications company that provides home fibre internet service. We do not have service in all areas, so we have a service coverage area. The website is a key channel for acquiring new customers.

        Dataset: {json_data}
"""
try:
    response = client.get_completion(prompt)
    print(response["tokens"])
    print(response["cost"])
except Exception as e:
    print(f"Error getting response: {e}")

{'input': 6562, 'output': 1849, 'total': 8411}
{'cost in USD ($)': 0.005583}

In [9]:
# Output the response to a markdown file
if response:
    try:
        with open(f"reports/{datetime.now().strftime("%Y%m%d")}_ols_analysis.md", "w") as f:
            f.write(response["text"])
        print("Analysis saved to reports folder.")
    except Exception as e:
        print(f"Error writing to file: {e}")

Analysis saved to reports folder.

### Conversion Rate Analysis

In [10]:
prompt = """
    Perform conversion rate analysis on the website data.

    Calculate the conversion rates for the past week and compare it to previous weeks' distributions. Include what percentile of value past week falls into. Flag all conversion rates that are below the 25th percentile, and highlight any significant changes in conversion rates.

    Only output the results and insights, nothing else.

    Example:

    {
        "week": 17,
        "year": 2025,
        "conversion_rates": {
        "traffic_to_view_item": 0.0344,
        "view_item_to_type_addr": 0.253,
        "type_addr_to_add_contact": 0.644,
        "add_contact_to_add_addr": 0.847,
        "add_addr_to_add_date": 0.637,
        "add_date_to_checkout": 0.927,
        "checkout_to_purchase": 0.761,
        "traffic_to_purchase": 0.00214
    },
        "percentiles_vs_previous_weeks": {
        "traffic_to_view_item": 30,
        "view_item_to_type_addr": 10,
        "type_addr_to_add_contact": 60,
        "add_contact_to_add_addr": 50,
        "add_addr_to_add_date": 45,
        "add_date_to_checkout": 70,
        "checkout_to_purchase": 50,
        "traffic_to_purchase": 35
    },
    "flags": {
    "below_25th_percentile": [
        "view_item_to_type_addr"
        ]
    },
        "significant_changes": [
        "View_item to type_addr conversion rate is significantly lower than typical weeks and is flagged below the 25th percentile at 10th percentile.",
        "Traffic to view_item rate is slightly below median but above 25th percentile, no flag.",
        "All other conversion rates fall within normal or better-than-normal ranges."
    ],
    "insights": [
        "The largest area of concern is the low conversion rate from view_item to type_addr, highlighting a critical funnel bottleneck likely affecting overall lead generation.",
        "Despite strong traffic, fewer users proceed to type their address than in most previous weeks, which may be due to UX issues or service availability perceptions.",
        "Maintaining or improving conversion rates at downstream steps is positive but cannot compensate for the significant drop-off earlier in the funnel.",
        "Focus efforts on optimizing the user experience and clarity at the address input stage to improve funnel throughput and overall conversions."
    ]
    }
"""
followup_response = client.get_completion(prompt, keep_history=True)
print(followup_response["tokens"])
print(followup_response["cost"])

{'input': 525, 'output': 534, 'total': 1059}
{'cost in USD ($)': 0.001064}

In [12]:
# Output the response to a markdown file
if followup_response:
    try:
        with open(f"reports/{datetime.now().strftime("%Y%m%d")}_funnel_analysis.md", "w") as f:
            f.write(followup_response["text"])
        print("Analysis saved to reports folder.")
    except Exception as e:
        print(f"Error writing to file: {e}")

Analysis saved to reports folder.

## Sales

In [13]:
from src.core.mongodb import Mongo

client = Mongo("deep-diver-v2", "boreport")
sales_df = client.get_data()
sales_df.head(5)

,_id,No,Funnel No,Funnel Probability,Funn Status,Funn Lostreason,Funnel Type,Funnel User Name (Owner),Rev Cost Ctr,Funnel SO No,...,Age,Funn Monthcontractperiod,Username,Name,Segment Group,Dealer,Billing Method,Property Size,Property Owner,Telesales Agent
0,681c19067861211afb20532a,1,POT1685811,75,Active,NaN,New Sales,BRYANLOW,CONSUMER-CENTRAL,MR982780,...,27,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,681c19067861211afb20532b,2,POT1685810,75,Active,NaN,New Sales,BRYANLOW,CONSUMER-CENTRAL,MR982778,...,71,24,BBMNNA0010,TAN JUN REN,NaN,NaN,NaN,"Below 1,500 sq.ft",Tenant,NaN
2,681c19067861211afb20532c,3,POT1685808,75,Active,NaN,New Sales,ONLINEREG,CONSUMER-CENTRAL,ORN242719,...,48,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,681c19067861211afb20532d,4,POT1685804,75,Active,NaN,New Sales,BRYANLOW,CONSUMER-CENTRAL,MR982777,...,30,24,mattcom,FAN WAI MAN,NaN,NaN,NaN,NaN,NaN,NaN
4,681c19067861211afb20532e,5,POT1685803,75,Active,NaN,New Sales,BRYANLOW,CONSUMER-CENTRAL,MR982776,...,29,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
online = (sales_df
 .loc[sales_df[" Channel"].isin(["ONLINE"])]
 .dropna(subset=["Probability 90% Date"])
 .assign(date=pd.to_datetime(sales_df["Probability 90% Date"], format="%Y-%m-%d %H:%M:%S"))
 .set_index("date")
 .resample("W-SUN")
 ["Funnel SO No"]
 .count()
 )

online.tail(20)

date
2024-12-29    309
2025-01-05    394
2025-01-12    304
2025-01-19    281
2025-01-26    281
2025-02-02    224
2025-02-09    318
2025-02-16    248
2025-02-23    273
2025-03-02    292
2025-03-09    266
2025-03-16    289
2025-03-23    241
2025-03-30    287
2025-04-06    197
2025-04-13    293
2025-04-20    274
2025-04-27    292
2025-05-04    335
2025-05-11    204
Freq: W-SUN, Name: Funnel SO No, dtype: int64